<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<form th:action="@{/authenticate}" method="post">
    <label for="phone">Phone Number:</label>
    <input type="text" id="phone" name="phone" required>
    <button type="submit">Send sms</button>
    <br>
    <label for="code">Code:</label>
    <input type="text" id="code" name="code" required>
    <button type="submit">Submit</button>
</form>
</body>
</html>