<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    <link th:href="@{css/user/sign-up.css}" rel="stylesheet">

</head>
<body>
<form class="sign-in-form" th:method="POST" th:action="@{/sign-up}">
    <h1>Sign up</h1>
    <input hidden="hidden" name="_csrf" th:value="${_csrf}">
    <label>
        Name:
    </label>
    <input  name="name" placeholder="Name">
    <label>
        Surname:
    </label>
    <input name="surname" placeholder="Surname">
    <label>
        Email:
    </label>
    <input type="email" name="email" placeholder="Email">
    <label>
        Phone Number:
    </label>
    <input  name="phoneNumber" placeholder="Phone number">
    <label>
        Password:
    </label>
    <input  type="password" name="password" placeholder="Password">
    <button type="submit">Sign up</button>
</form>
</body>
</html>